@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#canvas1 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#titlebar {
    box-sizing: initial;
    background-color: white;
}

#titlebar nav a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: black;
    margin: 10px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

#titlebar nav a:hover{
    font-size: x-large;
}

#version{
    float: right;
    color:white
}

.mainheading{
    font-size: 600%;
    font-family: Oswald;
}

.personbutton{
    font-size: x-large;
    border: none;
    outline: none;
    position: relative;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: xx-large;
    margin-right: 20px;
    --border-size: 4px;
}

.personbutton::before {
    content: '';
    position: absolute;
    transition: 0.1s ease-in-out;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid white
}

.personbutton:hover::before,
.personbutton:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}