@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
    font-size: 30px;
    font-family: Oswald;
    --background-color: #000000;
    --background-seccondary-color:#444444 ;
    --background-contrast: #ffffff;
    --accent-color: #adff2f;
}

* {
    color: var(--background-contrast);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

::selection {
    background: var(--background-contrast);
}

.color-black {
    color:black;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--background-color);
    color: var(--background-contrast);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar-track {
    color: var(--background-color);
}

body::-webkit-scrollbar {
    color: var(--accent-color)
}

main {
    margin-left: 8rem;
}

#background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color)
} 

.navbar {
    width: 8rem;
    height: 100vh;
    position: fixed;
    background-color: var(--background-seccondary-color);
    transition: 1s ease;
}

.navbar:hover {
    width: 15rem;
}


.navbar-nav {
    padding: 0;
    padding-left: 0.5rem;
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar-item {
    min-height: 10%;
}

.navbar-link {
    white-space: nowrap;
    color: var(--background-contrast);
    text-decoration: none;
    font-size: 2rem;
    position: inherit;
    text-align: center;
}

.navbar-link:hover {
    color: var(--accent-color);
}

.navbar-div {
    background-color: var(--background-seccondary-color);
}

.title-div {
    padding-left: 1rem;
}

.title-div h1{
    font-size: 6rem;
}

.title-div p{
    font-size: 2rem;
}

.projects-div {
    background-color: var(--background-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
}
.project {
    background-color: var(--background-seccondary-color);
    padding: auto;
}

.larger {
    font-size: 5rem;
}
.main-div {
    margin-left: 7rem;
}
.minhight {
    min-height: 1rem;

}