@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    background-color: #555555 ;
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
}

.titlebox{
    padding-left: 2%;
    padding-right: 5%;
    background-color: black;
    border-top:20px yellowgreen solid;
}

.navbar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,50,50,1) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: large;
    transition: all ease-in-out 0.1s;
}

.navbar a:hover{
    color: yellowgreen;
    font-size: 20px;
}

.box{
    padding:0px;
    margin:0px;
    margin-top: 5px;
    margin-bottom: 4px;
    border-top: solid greenyellow 5px;
    border-bottom: solid greenyellow 5px;
}
.box p{
    font-size: larger;
}
.box h1{
    font-size: x-large;
}

.title{
    font-size: 600%;
    font-family: Oswald, sans-serif;
    margin: 0;
    transition: all ease-in-out 1s;
}

.title:hover{
    color: greenyellow;
    
    cursor: pointer;
}