:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    position: fixed;
    inset: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: black;
    color: white;
}

.container {
    touch-action: none;
    user-select: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}