:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    position: fixed;
    inset: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: black;
    color: white;
}

.title {
    margin-bottom: 0;
}

.header {
    margin-left: 1rem;
}

#cookies {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 30rem;

    background-color: black;
    border: 2px solid white;
    padding: 1rem;
}

#cookies > p {
    margin-top: 0;
}

#canvas {
    image-rendering: pixelated;
}

#copyright {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    touch-action: none;
    user-select: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}